// Specific CSS for your home-page

.task {
  border-bottom: 1px solid rgba(213,213,213,0.9);
}

.gray-task {
  background-color: rgba(213,213,213,0.2);
}

.add-task{
  margin-bottom: 10px;
}

.btn-margin {
  margin: 5px;
}

.group-title{
  border-bottom: 1px solid rgba(213,213,213,0.9);
  margin-bottom: 15px;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

//Abaixo são os códigos CSS para funcionar o painel expansível

#accordion ul {
  padding-left: 0px;
}

#accordion ul li {
  list-style-type: none;
  cursor: pointer;
  transition: 0.3s ease all;
}

.panel {
  display: none;
  color: #333;
}
