<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="text-center">
        <h1>To-do List</h1>
      </div>
      <div class="row tasks-group">
        <div class="row group-title">
          <h2>Móveis</h2>
        </div>
        <div class="row add-task">
          <div class="input-group control-group after-add-more">
            <input type="text" class="form-control" placeholder="Your Task">
            <div class="input-group-btn">
              <button class="btn" type="button">
                Adicionar
              </button>
            </div>
          </div>
        </div>
        <div class="row group-tasks">
          <div class="task">
            <p>Rack TV</p>
          </div>
          <div class="task">
            <p>Banco Sala</p>
          </div>
          <div class="task">
            <p>Mesa e cadeiras</p>
          </div>
          <div class="task">
            <p>Bancos da passagem</p>
          </div>
          <div class="task">
            <p>Torneira tanque</p>
          </div>
          <div class="task">
            <p>Criados</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
