<div class="container">
    <h1>To-do List</h1>
    <div class="row tasks-group">
      <div class="row group-title">
        <h2>Group1</h2>
      </div>
      <div class="row group-tasks">
        <p>XXXXXXX</p>
        <p>XXXXXXX</p>
        <p>XXXXXXX</p>
        <p>XXXXXXX</p>
        <p>XXXXXXX</p>
        <p>XXXXXXX</p>
        <p>XXXXXXX</p>
      </div>
    </div>
    <div class="row tasks-group">
      <div class="row group-title">
        <h2>Group2</h2>
      </div>
      <div class="row group-tasks">
        <p>XXXXXXX</p>
        <p>XXXXXXX</p>
        <p>XXXXXXX</p>
        <p>XXXXXXX</p>
        <p>XXXXXXX</p>
        <p>XXXXXXX</p>
        <p>XXXXXXX</p>
      </div>
    </div>
    <div class="row tasks-group">
      <div class="row group-title">
        <h2>Group3</h2>
      </div>
      <div class="row group-tasks">
        <p>XXXXXXX</p>
        <p>XXXXXXX</p>
        <p>XXXXXXX</p>
        <p>XXXXXXX</p>
        <p>XXXXXXX</p>
        <p>XXXXXXX</p>
        <p>XXXXXXX</p>
      </div>
    </div>
</div>
