<div class="container">


  <!-- div responsável para separar header/body/footer -->
  <div class="row">

    <!-- div responsável para posicionar todo o conteúdo na tela -->
    <div class="col-sm-12">


      <!-- Div para o título -->
      <div class="text-center">
        <h1>To-do Lists</h1>
      </div>

      <!-- div responsável para alinhar todos os grupos de tarefas -->
      <div class="row tasks-group">

        <!-- div para iniciar a lista de grupos com função expandir/retrair -->
        <div id="accordion">

          <!-- início da listagem dos paineis de grupos de taréfas -->
          <ul class="panels">

            <!-- painel 1 -->

            <li data-panel-id="panel1">
                      <div class="row group-title">
                  <div class="input-group control-group after-add-more">
                    <h2>Filmes/Séries</h2>
                    <div class="input-group-btn">
                        <h3>1/3</h3>
                    </div>
                  </div>
                </div>
            </li>

            <div class="panel panel1">
                <!-- div reponsável para posicionar a barra de adição de tarefas  -->
                <div class="row add-task">
                  <div class="input-group control-group after-add-more">
                    <input type="text" class="form-control" placeholder="Nova Tarefa">
                    <div class="input-group-btn">
                      <button class="btn " type="button">
                        <i class="fas fa-plus"></i>
                      </button>
                    </div>
                  </div>
                </div>


                <!-- div para posicionar as tarefas e início da listagem de tarefas -->
                <div class="row group-tasks">
                  <div class="task gray-task">
                    <div class="input-group control-group after-add-more">
                    <p>Hereditário</p>
                      <div class="input-group-btn">
                        <a href="#" class="btn btn-success btn-margin">
                          <i class="fas fa-redo-alt"></i>
                        </a>
                      </div>
                      <div class="input-group-btn">
                        <a href="#" class="btn btn-danger btn-margin">
                          <i class="fas fa-times"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="task">
                    <div class="input-group control-group after-add-more">
                    <p>Missão Impossível</p>
                      <div class="input-group-btn">
                        <a href="#" class="btn btn-primary btn-margin">
                          <i class="fas fa-check"></i>
                        </a>
                      </div>
                      <div class="input-group-btn">
                        <a href="#" class="btn btn-danger btn-margin">
                          <i class="fas fa-times"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="task gray-task">
                    <div class="input-group control-group after-add-more">
                    <p>GoT</p>
                      <div class="input-group-btn">
                        <a href="#" class="btn btn-primary btn-margin">
                          <i class="fas fa-check"></i>
                        </a>
                      </div>
                      <div class="input-group-btn">
                        <a href="#" class="btn btn-danger btn-margin">
                          <i class="fas fa-times"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>

            <!-- painel 1 -->
            <!-- painel 2-->

            <li data-panel-id="panel2">
                      <div class="row group-title">
                  <div class="input-group control-group after-add-more">
                    <h2>Móveis para comprar</h2>
                    <div class="input-group-btn">
                        <h3>3/6</h3>
                    </div>
                  </div>
                </div>
            </li>
            <div class="panel panel2">
                <div class="row add-task">
                  <div class="input-group control-group after-add-more">
                    <input type="text" class="form-control" placeholder="Nova Tarefa">
                    <div class="input-group-btn">
                      <button class="btn " type="button">
                        <i class="fas fa-plus"></i>
                      </button>
                    </div>
                  </div>
                </div>


                <!-- div para posicionar as tarefas e início da listagem de tarefas -->
                <div class="row group-tasks">
                  <div class="task gray-task">
                    <div class="input-group control-group after-add-more">
                    <p>Rack TV</p>
                      <div class="input-group-btn">
                        <a href="#" class="btn btn-success btn-margin">
                          <i class="fas fa-redo-alt"></i>
                        </a>
                      </div>
                      <div class="input-group-btn">
                        <a href="#" class="btn btn-danger btn-margin">
                          <i class="fas fa-times"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="task">
                    <div class="input-group control-group after-add-more">
                    <p>Mesa e cadeiras</p>
                      <div class="input-group-btn">
                        <a href="#" class="btn btn-success btn-margin">
                          <i class="fas fa-redo-alt"></i>
                        </a>
                      </div>
                      <div class="input-group-btn">
                        <a href="#" class="btn btn-danger btn-margin">
                          <i class="fas fa-times"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="task gray-task">
                    <div class="input-group control-group after-add-more">
                    <p>Banco sala</p>
                      <div class="input-group-btn">
                        <a href="#" class="btn btn-success btn-margin">
                          <i class="fas fa-redo-alt"></i>
                        </a>
                      </div>
                      <div class="input-group-btn">
                        <a href="#" class="btn btn-danger btn-margin">
                          <i class="fas fa-times"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="task">
                    <div class="input-group control-group after-add-more">
                    <p>Bancos passagem</p>
                      <div class="input-group-btn">
                        <a href="#" class="btn btn-primary btn-margin">
                          <i class="fas fa-check"></i>
                        </a>
                      </div>
                      <div class="input-group-btn">
                        <a href="#" class="btn btn-danger btn-margin">
                          <i class="fas fa-times"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="task gray-task">
                    <div class="input-group control-group after-add-more">
                    <p>Sofá confortável</p>
                      <div class="input-group-btn">
                        <a href="#" class="btn btn-primary btn-margin">
                          <i class="fas fa-check"></i>
                        </a>
                      </div>
                      <div class="input-group-btn">
                        <a href="#" class="btn btn-danger btn-margin">
                          <i class="fas fa-times"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="task">
                    <div class="input-group control-group after-add-more">
                    <p>Criados Suíte</p>
                      <div class="input-group-btn">
                        <a href="#" class="btn btn-primary btn-margin">
                          <i class="fas fa-check"></i>
                        </a>
                      </div>
                      <div class="input-group-btn">
                        <a href="#" class="btn btn-danger btn-margin">
                          <i class="fas fa-times"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            <!-- painel 2 -->
          </ul>

        </div>
      </div>
    </div>
  </div>
</div>
