<div class="container">


  <!-- div responsável para separar header/body/footer-->
  <div class="row">
    <div class="col-sm-12">


      <!-- Div responsável para posicionar o título -->
      <div class="text-center">
        <h1>To-do Lists</h1>
      </div>

<!-- -->

      <!-- div responsável para posicionar todos os grupos e tarefas -->
      <div class="row tasks-group">

        <!-- div responsável pela divisão do título do grupo e contagem de taréfas-->
        <div class="row group-title">
          <div class="input-group control-group after-add-more">
            <h2>Móveis para comprar</h2>
            <div class="input-group-btn">
                <h3>3/6</h3>
            </div>
          </div>
        </div>


        <!-- div reponsável para posicionar a bara de adição de tarefas  -->
        <div class="row add-task">
          <div class="input-group control-group after-add-more">
            <input type="text" class="form-control" placeholder="Your Task">
            <div class="input-group-btn">
              <button class="btn " type="button">
                <i class="fas fa-plus"></i>
              </button>
            </div>
          </div>
        </div>


        <!-- div para posicionar as tarefas e início da listagem de tarefas -->
        <div class="row group-tasks">
          <div class="task gray-task">
            <div class="input-group control-group after-add-more">
            <p>Rack TV</p>
              <div class="input-group-btn">
                <a href="#" class="btn btn-success btn-margin">
                  <i class="fas fa-redo-alt"></i>
                </a>
              </div>
              <div class="input-group-btn">
                <a href="#" class="btn btn-danger btn-margin">
                  <i class="fas fa-times"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="task">
            <div class="input-group control-group after-add-more">
            <p>Mesa e cadeiras</p>
              <div class="input-group-btn">
                <a href="#" class="btn btn-success btn-margin">
                  <i class="fas fa-redo-alt"></i>
                </a>
              </div>
              <div class="input-group-btn">
                <a href="#" class="btn btn-danger btn-margin">
                  <i class="fas fa-times"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="task gray-task">
            <div class="input-group control-group after-add-more">
            <p>Banco sala</p>
              <div class="input-group-btn">
                <a href="#" class="btn btn-success btn-margin">
                  <i class="fas fa-redo-alt"></i>
                </a>
              </div>
              <div class="input-group-btn">
                <a href="#" class="btn btn-danger btn-margin">
                  <i class="fas fa-times"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="task">
            <div class="input-group control-group after-add-more">
            <p>Bancos passagem</p>
              <div class="input-group-btn">
                <a href="#" class="btn btn-primary btn-margin">
                  <i class="fas fa-check"></i>
                </a>
              </div>
              <div class="input-group-btn">
                <a href="#" class="btn btn-danger btn-margin">
                  <i class="fas fa-times"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="task gray-task">
            <div class="input-group control-group after-add-more">
            <p>Sofá confortável</p>
              <div class="input-group-btn">
                <a href="#" class="btn btn-primary btn-margin">
                  <i class="fas fa-check"></i>
                </a>
              </div>
              <div class="input-group-btn">
                <a href="#" class="btn btn-danger btn-margin">
                  <i class="fas fa-times"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="task">
            <div class="input-group control-group after-add-more">
            <p>Criados Suíte</p>
              <div class="input-group-btn">
                <a href="#" class="btn btn-primary btn-margin">
                  <i class="fas fa-check"></i>
                </a>
              </div>
              <div class="input-group-btn">
                <a href="#" class="btn btn-danger btn-margin">
                  <i class="fas fa-times"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

<!-- -->

      <!-- div responsável para posicionar todos os grupos e tarefas -->
      <div class="row tasks-group">

        <!-- div responsável pela divisão do título do grupo e contagem de taréfas-->
        <div class="row group-title">
          <div class="input-group control-group after-add-more">
            <h2>Móveis para comprar</h2>
            <div class="input-group-btn">
                <h3>3/6</h3>
            </div>
          </div>
        </div>


        <!-- div reponsável para posicionar a bara de adição de tarefas  -->
        <div class="row add-task">
          <div class="input-group control-group after-add-more">
            <input type="text" class="form-control" placeholder="Your Task">
            <div class="input-group-btn">
              <button class="btn " type="button">
                <i class="fas fa-plus"></i>
              </button>
            </div>
          </div>
        </div>


        <!-- div para posicionar as tarefas e início da listagem de tarefas -->
        <div class="row group-tasks">
          <div class="task gray-task">
            <div class="input-group control-group after-add-more">
            <p>Rack TV</p>
              <div class="input-group-btn">
                <a href="#" class="btn btn-success btn-margin">
                  <i class="fas fa-redo-alt"></i>
                </a>
              </div>
              <div class="input-group-btn">
                <a href="#" class="btn btn-danger btn-margin">
                  <i class="fas fa-times"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="task">
            <div class="input-group control-group after-add-more">
            <p>Mesa e cadeiras</p>
              <div class="input-group-btn">
                <a href="#" class="btn btn-success btn-margin">
                  <i class="fas fa-redo-alt"></i>
                </a>
              </div>
              <div class="input-group-btn">
                <a href="#" class="btn btn-danger btn-margin">
                  <i class="fas fa-times"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="task gray-task">
            <div class="input-group control-group after-add-more">
            <p>Banco sala</p>
              <div class="input-group-btn">
                <a href="#" class="btn btn-success btn-margin">
                  <i class="fas fa-redo-alt"></i>
                </a>
              </div>
              <div class="input-group-btn">
                <a href="#" class="btn btn-danger btn-margin">
                  <i class="fas fa-times"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="task">
            <div class="input-group control-group after-add-more">
            <p>Bancos passagem</p>
              <div class="input-group-btn">
                <a href="#" class="btn btn-primary btn-margin">
                  <i class="fas fa-check"></i>
                </a>
              </div>
              <div class="input-group-btn">
                <a href="#" class="btn btn-danger btn-margin">
                  <i class="fas fa-times"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="task gray-task">
            <div class="input-group control-group after-add-more">
            <p>Sofá confortável</p>
              <div class="input-group-btn">
                <a href="#" class="btn btn-primary btn-margin">
                  <i class="fas fa-check"></i>
                </a>
              </div>
              <div class="input-group-btn">
                <a href="#" class="btn btn-danger btn-margin">
                  <i class="fas fa-times"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="task">
            <div class="input-group control-group after-add-more">
            <p>Criados Suíte</p>
              <div class="input-group-btn">
                <a href="#" class="btn btn-primary btn-margin">
                  <i class="fas fa-check"></i>
                </a>
              </div>
              <div class="input-group-btn">
                <a href="#" class="btn btn-danger btn-margin">
                  <i class="fas fa-times"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
